/**
 * Design for Production Line Tracker Application
 *
 *@author Kevin Mak 9/24/2019
 */
#tab1 {
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: #8fb5bd;
    -fx-border-color: black;
}

#tab2 {
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: #8fb5bd;
    -fx-border-color: black;
}

#tab3 {
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: #8fb5bd;
    -fx-border-color: black;
}

#tab1:hover{
    -fx-background-color: red;
}

#tab2:hover{
    -fx-background-color: red;
}

#tab3:hover{
    -fx-background-color: red;
}

#tabPane{
    -fx-border-color: black;
}

#pane {
    -fx-background-color: #6ea0aa;
}

#grid1 {
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}

#lblExistProd {
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}

#tbvProduction {
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}

#tableView {
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}

#btnAddProduct {
    -fx-text-fill: black;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#848a94, #d6d8db);
    -fx-effect: dropShadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#btnAddProduct:hover {
    -fx-background-color: linear-gradient(#d6d8db, #848a94);
}

#ancRecordPane {
    -fx-font-size: 15px;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}

#btnRecordProduct {
    -fx-text-fill: black;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#848a94, #d6d8db);
    -fx-effect: dropShadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#btnRecordProduct:hover {
    -fx-background-color: linear-gradient(#d6d8db, #848a94);
}

#txtProdLog {
    -fx-font-size: 15px;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}

#txtEmpLog {
    -fx-font-size: 15px;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}

#tabEmpLog {
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: #8fb5bd;
    -fx-border-color: black;
}

#tabEmpLog:hover{
    -fx-background-color: red;
}

#imgProductLine {
    -fx-background-image: url("ProductionImg/kevy.PNG");
    -fx-background-color: #8fb5bd;
}

#imgProductRecord {
    -fx-background-image: url("ProductionImg/kevy.PNG");
    -fx-background-color: #8fb5bd;
}

#imgProductLog{
    -fx-background-image: url("ProductionImg/kevy.PNG");
    -fx-background-color: #8fb5bd;
}

#imgEmpLog {
    -fx-background-image: url("ProductionImg/kevy.PNG");
    -fx-background-color: #8fb5bd;
}

#tabLogin{
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: #8fb5bd;
    -fx-border-color: black;
}

#tabLogin:hover{
    -fx-background-color: red;
}

#gridLogin {
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}

#btnLogin {
    -fx-text-fill: black;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#848a94, #d6d8db);
    -fx-effect: dropShadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#btnLogin:hover {
    -fx-background-color: linear-gradient(#d6d8db, #848a94);
}

#lblWelcome{
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}


