#tab1 {
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: #8fb5bd;
    -fx-border-color: black;
}

#tab2 {
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: #8fb5bd;
    -fx-border-color: black;
}

#tab3 {
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: #8fb5bd;
    -fx-border-color: black;
}

#tab1:hover{
    -fx-background-color: red;
}

#tab2:hover{
    -fx-background-color: red;
}

#tab3:hover{
    -fx-background-color: red;
}

#tabPane{
    -fx-border-color: black;
}

#pane {
    -fx-background-color: #6ea0aa;
}

#grid1 {
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}
#lblExistProd {
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}

#tableView {
    -fx-font-size: 15px ;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}

#addProductButton {
    -fx-text-fill: black;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#848a94, #d6d8db);
    -fx-effect: dropShadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#addProductButton:hover {
    -fx-background-color: linear-gradient(#d6d8db, #848a94);
}

#ancRecordPane {
    -fx-font-size: 15px;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}

#recordProductButton {
    -fx-text-fill: black;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#848a94, #d6d8db);
    -fx-effect: dropShadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#recordProductButton:hover {
    -fx-background-color: linear-gradient(#d6d8db, #848a94);
}

#txtProdLog {
    -fx-font-size: 15px;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}

